<a href="https://colab.research.google.com/github/Leonelts13/DispositivosMoviles/blob/main/Notebooks/Deber1/scrapyData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><strong>DATA EXTRACTION</strong></h1></center>


* __authors__ = [@Leonelts13](https://github.com/Leonelts13/DispositivosMoviles/tree/626578a8cfa60096e8d92dbf520c8c644ddda4c7/Notebooks/Deber1)
* __date__ = "20/12/2023"
* __version__ = "1.0.0"
* __license__ = "GPL"
* __title__ = "Extracción de datos de la Web (Scrapy)"
* __keywords__ = "Scrapy, Olympic Games, Medaltally, Data extraction"

# 1. Pre Requisitos

In [9]:
# Instalación de las librerias o dependencias necesarias
!pip install beautifulsoup4 requests pandas

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.11.17)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [315]:
# Load dependencies
import json # modulo para trabajar con archivos JSON
import requests # librería para hacer peticiones HTTP
import pandas as pd # librería para procesar datos, proporciona funciones para analíticas
from bs4 import BeautifulSoup as bs # Extraer información de páginas web

# 2. Funciones para procesamiento de los datos

In [316]:
# Función que convierte una lista de elementos en un dataframe de pandas

def rowsToDataFrame(rows):
  #Verificamos que las cabeceras se esten tomando correctamente
    #print("Cabeceras de la tabla:")
    #print(rows[0])

    df = pd.DataFrame(rows[1:], columns=rows[0])
    return df

In [317]:
# Función para extraer los datos de una tabla HTML
def processTableData(tbl):
    rows = []

    # Encuentra todas las filas en el cuerpo de la tabla
    for child in tbl.find('tbody').children:
        row = []

        # Si es una fila de cabecera (<th>), se extraen los textos o títulos directamente
        if child.name == 'tr' and child.find_all('th'):
            for th in child.find_all('th'):
                # Busca la etiqueta <a> dentro de la celda de cabecera
                a_tag = th.find('a')
                if a_tag:
                  #almacenamos el nombre de la cabecera que se encuentra en la etiqueta <a>, caso contrario le asignamos un espacio en blanco ' '
                    header_text = a_tag.get('title', ' ')
                else:
                  #almacenamos el nombre de la cabecera que se encuentra en la etiqueta <th>, caso contrario le asignamos un espacio en blanco ' '
                    header_text = th.text.replace('\n', '') if th.text else ' '
                row.append(header_text)
        else:
            # Si es una fila de datos (<td>), se realiza un proceso similar a la versión anterior
            for td in child:
                try:
                    item = td.text.replace('\n', '') # recupera el texto del elemento [<td>]
                    if item:
                        row.append(item) # Agrega cada elemento de la fila
                except:
                    continue

        if len(row) > 0:
            rows.append(row)

    # print(rows)
    return rows

In [318]:
# Función para extraer la data de la URL y procesar el contenido HTML
def processDataHTML(data):
  #Seleccionamos la tabla que vamos a usar, data['sections'][0]['text'] --> donde [0] indica la posicion en la que se encuentra la tabla a seleccionar
  #todo dependera del formato que se encuentre en "Inpeccionar elemento --> network --> Fetch --> archivo API"
    soup = bs(data['sections'][0]['text'], 'html.parser') # Recupera el item del JSON y lo convierte en contenido HTML
    tbl = soup.find_all('table')[0] # Recupera la tabla del contenido HTML

    #Imprimimos todo el formato de la tabla recuperada
    #print(tbl.prettify())

    tblRows = processTableData(tbl) # Ejecuta la función apra porcesar el contenido de la Tabla
    return tblRows

# 3. Extracción de Información

In [323]:
# Read website
#r = requests.get('https://www.wikiwand.com/es/Anexo:Medallero_de_Europa_en_los_Juegos_Ol%C3%ADmpicos')
r = requests.get('https://www.wikiwand.com/mcs-api/es.wikipedia.org/v1/page/mobile-sections-remaining/Anexo%3AMedallero_de_Europa_en_los_Juegos_Ol%C3%ADmpicos')  # Recuperamos el contenido de la web
# print(r)
table = processDataHTML(json.loads(r.content)) # Formate el contenido en formato JSON
#print(table)
df = rowsToDataFrame(table) # ejecuta la funcion para recupera los datos de la tabla como dataframe de Pandas
#df

In [324]:
# Reemplaza cabeceras vacías por un nombre no nulo (por ejemplo, 'TOTAL')
#df.columns = [col if col != ' ' else 'Total' for col in df.columns]
#df.columns = [col if col.strip() != '' else f'Total{i+1}' for i, col in enumerate(df.columns)]

# Reemplaza los nombres de las columnas con espacios en blanco
#Crea una lista llamada nombres_reemplazo que contiene los nuevos nombres para las columnas con espacios en blanco.
nombres_reemplazo = [f'Total_{i+1}' for i, col in enumerate(df.columns) if col.strip() == '']

#Utiliza una comprensión de listas para actualizar los nombres de las columnas en el DataFrame. Si el nombre de la columna tiene un espacio en blanco, se reemplaza por el nombre correspondiente de nombres_reemplazo.
df.columns = [f'Total_{i}' if col.strip() == '' else col for i, col in enumerate(df.columns)]


df

,País,N.º Juegos de verano,Oro,Plata,Bronce,Total_5,N.º Juegos de invierno,Oro,Plata,Bronce,Total_10,N° Juegos Total,Oro,Plata,Bronce,Total_15
0,Alemania (GER)[3][4],17,239,267,291,797,12,112,104,70,286,29,351,371,361,1083
1,Alemania Occidental (FRG)[3],5,56,67,81,204,7,11,15,13,39,12,67,82,94,243
2,Alemania Oriental (GDR)[3],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
3,Armenia (ARM),7,2,8,8,18,7,0,0,0,0,14,2,8,8,18
4,Atletas Olímpicos de Rusia (OAR)[5],0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
5,Austria (AUT),28,22,37,43,102,24,71,88,91,250,52,93,125,134,352
6,Azerbaiyán (AZE),7,7,14,28,49,6,0,0,0,0,13,7,14,28,49
7,Bélgica (BEL),27,46,57,63,166,21,2,2,4,8,48,48,59,67,174
8,Bielorrusia (BLR),7,13,30,42,85,7,8,7,5,20,14,21,37,47,105
9,Bohemia (BOH)[6],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
10,Bulgaria (BUL),21,54,88,82,224,20,1,2,3,6,41,55,90,85,230
11,Checoslovaquia (TCH)[6],16,49,50,47,146,16,2,8,15,25,32,51,58,62,171
12,Chipre (CYP),11,0,1,0,1,12,0,0,0,0,23,0,1,0,1
13,Comité Olímpico de Rusia (ROC)[5],1,20,28,23,71,0,0,0,0,0,1,20,28,23,71
14,Croacia (CRO),8,14,13,14,41,8,4,6,1,11,16,18,19,15,53
15,Dinamarca (DEN),28,48,83,83,214,14,0,1,0,1,42,48,84,83,215
16,Equipo Unificado (EUN)[5],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
17,Eslovaquia (SVK),7,10,14,8,32,7,4,4,2,10,14,14,18,10,42
18,Eslovenia (SLO),8,8,9,11,28,8,4,8,12,24,16,12,17,23,52
19,España (ESP)[4],24,48,72,49,169,21,1,1,3,5,45,49,73,52,174
20,Estonia (EST),13,10,9,17,36,10,4,2,2,8,23,14,11,19,44
21,Finlandia (FIN),26,104,86,120,310,23,45,65,65,175,49,149,151,185,485
22,Francia (FRA)[4],29,231,256,285,772,24,41,42,55,138,53,272,298,340,910
23,Georgia (GEO),7,10,12,18,40,7,0,0,0,0,14,10,12,18,40
24,Grecia (GRE)[4],29,36,45,41,122,19,0,0,0,0,48,36,45,41,122
25,Hungría (HUN),27,182,156,177,515,23,2,2,6,10,50,184,158,183,525
26,Irlanda (IRL),22,11,11,16,38,9,0,0,0,0,31,11,11,16,38
27,Islandia (ISL),21,0,2,2,4,18,0,0,0,0,39,0,2,2,4
28,Israel (ISR),17,3,1,9,13,7,0,0,0,0,24,3,1,9,13
29,Italia (ITA),28,222,195,215,632,24,42,43,56,141,52,264,238,271,773
30,Kosovo (KOS),2,3,0,0,3,1,0,0,0,0,3,3,0,0,3
31,Letonia (LAT),12,4,11,6,21,11,1,3,6,10,23,5,14,12,31
32,Liechtenstein (LIE),18,0,0,0,0,19,2,2,6,10,37,2,2,6,10
33,Lituania (LTU),10,6,7,13,26,9,0,0,0,0,19,6,7,13,26
34,Luxemburgo (LUX),24,3,2,0,5,9,0,2,0,2,33,3,4,0,7
35,Macedonia del Norte (MKD),7,0,1,1,2,7,0,0,0,0,14,0,1,1,2
36,Moldavia (MDA),7,0,2,3,5,7,0,0,0,0,9,0,2,3,5
37,Montenegro (MON),4,0,1,0,1,3,0,0,0,0,7,0,1,0,1
38,Noruega (NOR),26,59,53,50,162,24,148,134,123,405,50,207,187,173,567
39,Países Bajos (NED)[4],27,98,106,125,329,21,53,49,45,147,48,151,155,170,476
40,Polonia (POL),23,75,91,140,306,23,7,7,9,23,46,82,98,149,329
41,Portugal (POR),25,5,9,14,28,8,0,0,0,0,33,5,9,14,28
42,Reino Unido (GBR),29,292,324,315,931,24,12,5,17,34,53,304,329,332,965
43,República Checa (CZE)[6],7,19,21,27,67,7,10,11,13,34,14,29,32,40,101
44,Rumania (ROU),22,90,97,121,308,21,0,0,1,1,43,90,97,122,309
45,Rusia (RUS)[5],9,148,130,153,431,6,46,39,35,120,15,194,169,188,551
46,San Marino (SMR),15,0,1,2,3,11,0,0,0,0,26,0,1,2,3
47,Serbia (SRB)[7],5,6,7,11,24,4,0,0,0,0,9,6,7,11,24
48,Serbia y Montenegro (SCG)[7],1,0,2,0,2,1,0,0,0,0,2,0,2,0,2
49,Suecia (SWE)[4],28,149,177,181,507,24,65,51,60,176,52,214,228,241,683
50,Suiza (SUI),29,56,84,73,213,24,63,47,58,168,53,119,131,131,381
51,Turquía (TUR),23,41,26,36,103,17,0,0,0,0,40,41,26,36,103
52,Ucrania (UKR),7,35,36,68,139,7,3,2,4,9,14,38,38,72,148
53,Unión Soviética (URS)[5],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
54,Yugoslavia (YUG)[7],18,26,29,28,83,16,0,3,1,4,34,26,32,29,87

In [325]:
# Inspeccionamos el tipo de dato de cada variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   País                    55 non-null     object
 1   N.º Juegos de verano    55 non-null     object
 2   Oro                     55 non-null     object
 3   Plata                   55 non-null     object
 4   Bronce                  55 non-null     object
 5   Total_5                 55 non-null     object
 6   N.º Juegos de invierno  55 non-null     object
 7   Oro                     55 non-null     object
 8   Plata                   55 non-null     object
 9   Bronce                  55 non-null     object
 10  Total_10                55 non-null     object
 11  N° Juegos Total         55 non-null     object
 12  Oro                     55 non-null     object
 13  Plata                   55 non-null     object
 14  Bronce                  55 non-null     object
 15  Total_15                55 non-null     object
dtypes: object(16)
memory usage: 7.0+ KB

# 4. Almacenamiento de los datos

In [326]:
# Guardamos las datos extraídos como archivo CSV
# se puede aplicar otras opciones para guardar (Base de datos)
df.to_csv('OlympicGames_Europe_MedalTally.csv')

# 5. Referencias

### DEPENDENCIES
* [beautifulsoup4](https://pypi.org/project/BeautifulSoup/)
* [requests](https://pypi.org/project/requests/)
* [pandas](https://pypi.org/project/pandas/)

### Urls de Interés
* [Medallero de Europa en los Juegos Olímpicos 1](https://www.wikiwand.com/es/Anexo:Medallero_de_Europa_en_los_Juegos_Ol%C3%ADmpicos)